gTTS
streamlit
google-generativeai
streamlit-mic-recorder
opencv-python-headless
streamlit
google-generativeai
gTTS
streamlit-mic-recorder
opencv-python-headless
requests
Pillow
streamlit
google-generativeai
gTTS
streamlit-mic-recorder
opencv-python-headless
requests
Pillow
pypdf
speechrecognition
